@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Light Mode */
.light-theme {
  --primary-color: #2563eb;
  --secondary-color: #9333ea;
  --background-color: #f3f3f3;
  --text-color: #1f2937;
}

/* Dark Mode */
.dark-theme {
  --primary-color: #1e40af;
  --secondary-color: #0ea5e9;
  --background-color: #1f2937;
  --text-color: #f9fafb;
}

/* Apply theme colors */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

/* Example utility classes */
.bg-primary {
  background-color: var(--primary-color);
}

@keyframes marquee {
  from {
      transform: translateX(70%);
  }
  to {
      transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 6s linear infinite;
}